<%= semantic_search_form_for :user, :url => esp_auth.users_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :term, :as => :string, :label => false %>
  <% end %>
  <%= form.buttons do %>
    <li><%= button_tag t('permissions.search'), :class => 'button icon search' %></li>
  <% end %>
<% end %>

<%= link_to "&#43;#{t('permissions.create_permission')}".html_safe,
            esp_auth.new_permission_path,
            :class => 'new_permission' %>

<ul class='collection_list'>
  <% collection.each do |user| %>
    <li class='user'>
      <div class="name">
        <%= user.name %>
      </div>
      <div class="email">
        &lt;<%= mail_to user.email, user.email %>&gt;
      </div>

      <div class="links">
        <%= link_to "&darr;&nbsp;#{t('permissions.show_permissions')}".html_safe, '#', :class => 'show_permissions' %>
        <%= link_to "&#43;#{t('permissions.new')}".html_safe, esp_auth.new_user_permission_path(user), :class => 'add' %>
      </div>

      <ul class='permission_list'>
        <% user.permissions.group_by(&:role).each do |role, permissions| %>
          <li>
            <h4><%= permissions.first.human_role %></h4>
            <ul>
              <% permissions.each do |permission| %>
                <li>
                  <%= permission.context %>
                  <%= link_to t('permissions.delete'),
                    esp_auth.permission_path(permission),
                    :method => :delete,
                    :confirm => t('permissions.Are you sure?'),
                    :class => 'buttton icon remove danger' if can?(:destroy, permission) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </li>
  <% end %>
</ul>

<%= paginate collection %>
