<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= t('permissions.title') %></title>
  <%= stylesheet_link_tag 'esp_permissions/application' %>
  <%= javascript_include_tag 'esp_permissions/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= t('permissions.title') %></h1>
  <div class="container">
    <div class="logged_info">
      <%= link_to "&larr; #{t('permissions.back_to_manage')}".html_safe, '/manage', :class => 'back_link' %>
      <%= t('permissions.You are sign in as') %>
      <%= "#{current_user.name} &lt;#{current_user.email}&gt;".html_safe %>
      <%= link_to t('permissions.sign_out'), '/sso/sign_out' %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
