<h3>
  <%= "#{t('permissions.You are adding role to')}  #{@user.try(:name)}" %>
</h3>

<%= semantic_form_for resource,
                      :url => (@user ? esp_auth.user_permissions_path(@user) : esp_auth.permissions_path) do |form| %>
  <%= form.inputs do  %>
    <%= form.input :user_uid, :as => :hidden %>
    <%= form.input :user_first_name, :as => :hidden %>
    <%= form.input :user_last_name, :as => :hidden %>
    <%= form.input :user_email, :as => :hidden %>
    <%= form.input :user_search, :as => :string unless @user %>
    <%= form.input :polimorphic_context,  :collection => available_contexts,
                                          :member_value => ->(c) { [c.class.model_name.underscore, c.id].join('_') },
                                          :member_label => ->(c) { ('&nbsp;' * 2 * c.depth + c.title).html_safe },
                                          :include_blank => t('permissions.not_selected') %>
    <%= form.input :role, :as => :select, :collection => Permission.human_enums[:role].invert, :include_blank => t('permissions.not_selected') %>
  <% end %>
  <%= form.buttons :class => 'button-group' do %>
    <li><%= button_tag t('permissions.create'), :class => 'button icon approve' %></li>
    <li><%= link_to t('permissions.cancel'), esp_auth.users_path, :class => 'button icon arrowleft'  %></li>
  <% end %>
<% end %>
