<h3>
  <%= "#{t('permissions.You are adding role to')}  #{@user.full_name if @user}" %>
</h3>

<%= semantic_form_for resource,
                      :url => (@user ? esp_permissions.user_permissions_path(@user) : esp_permissions.permissions_path) do |form| %>
  <%= form.inputs do  %>
    <%= form.input :user_uid, :as => :hidden %>
    <%= form.input :user_first_name, :as => :hidden %>
    <%= form.input :user_last_name, :as => :hidden %>
    <%= form.input :user_email, :as => :hidden %>
    <%= form.input :user_search, :as => :string unless @user %>
    <%= form.input :context, :collection => current_user.available_contexts,
                             :member_label => ->(c) { ('&nbsp;' * 2 * c.depth + c.title).html_safe },
                             :include_blank => t('permissions.not_selected') %>
    <%= form.input :role, :as => :select, :collection => Permission.human_enums[:role].invert, :include_blank => t('permissions.not_selected') %>
  <% end %>
  <%= form.buttons :class => 'button-group' do %>
    <li><%= button_tag t('permissions.create'), :class => 'button icon approve' %></li>
    <li><%= link_to t('permissions.cancel'), esp_permissions.users_path, :class => 'button icon arrowleft'  %></li>
  <% end %>
<% end %>
