<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "sso-auth/shared/user_box" %>
  <% flash.keys.each do |key| %>
    <%= content_tag(:span, :class => key) do %>
      | <%= key %>: <%= flash[key] %>
    <% end %>
  <% end %>
  <hr>
  <%= yield %>
</body>
</html>
