<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "esp_permissions/shared/header" %>
  <%= yield %>
  <%= render :partial => "esp_permissions/shared/footer" %>
</body>
</html>
