<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= t('permissions.title') %></title>
  <%= stylesheet_link_tag 'esp_auth/application' %>
  <%= javascript_include_tag 'esp_auth/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "esp_auth/shared/header" %>
  <h1><%= t('permissions.title') %></h1>
  <div class="container">
    <%= yield %>
  </div>
  <%= render :partial => "esp_auth/shared/footer" %>
</body>
</html>
