<%= semantic_search_form_for :user, :url => esp_permissions.users_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :keywords, :as => :string, :label => false %>
  <% end %>
  <%= form.buttons do %>
    <li><%= button_tag t('permissions.search'), :class => 'button icon search' %></li>
  <% end %>
<% end %>
<ul class="collection_list">
  <% collection.each do | user | %>
    <li>
      <div class='name'>
        <%= user.name %>
      </div>

      <div class='email'>
        &lt;<%= mail_to user.email, user.email %>&gt;
      </div>

      <div class="links">
        <%= link_to "&darr;&nbsp;#{t('permissions.show_permissions')}".html_safe, '#', :class => 'show_permissions' %>
        <%= link_to "&#43;#{t('permissions.new')}".html_safe, esp_permissions.new_user_permission_path(user), :class => 'add' if can?(:update, user) %>
      </div>

      <%= content_tag :ul, :class => 'permission_list' do %>
        <% if user.permissions.exists? %>
          <% user.permissions.group_by(&:role).each do |role, permissions| %>
            <li>
              <h4><%= Permission.human_enums[:role][role] %></h4>
              <ul>
                <% permissions.each do |permission| %>
                  <li>
                    <%= permission.context %>
                    <%= link_to t('permissions.delete'),
                      manage_permissions_permission_path(permission),
                      :method => :delete,
                      :confirm => t('Are you sure?'),
                      :class => 'buttton icon remove danger' if can?(:delete, permission) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li>Нет прав доступа</li>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= paginate collection %>
