<tr>
  <td class="small"><%= l audit.created_at %></td>
  <td><%= audit.user %></td>
  <td class="small">
    <%= audit.auditable.class.model_name.human.mb_chars.capitalize %>
    #<%= audit.auditable.id %>
  </td>
  <td class="changes">
    <a href="#">show me</a>
    <div class="hidden">
      <pre><%= audit.to_yaml %></pre>
    </div>
  </td>
  <td class="small"><%= t(".#{audit.action}") %></td>
</tr>
